
body {
    background-color: #f7e7d9;
    font-family: 'Arial', sans-serif;
  }
  
  
  .menu {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #8c644e;
    text-transform: uppercase;
    border-bottom-style: dotted
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  
 
  
  .wholemenu li:before {
    content: "\2022";
    color: #8c644e;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .special{
    background-color:bisque;
  }

  .menu h2:first-child{
    text-align: center;
    font-size: 2.5rem;
    border-bottom-style:none;
  }

  .menu h3{
    text-align: center;
  }

  .menu p{
    text-align: center;
    padding-bottom: 4rem;
    font-size: 1.5rem;
  }


  
  .mid {
    text-align: center;
  }